@model Projekt_Dejtingsida.Models.MessageViewModel


<div> class="list-group">
    @foreach (var list in Model.Messages)
    {
        <a>
            @list.Sender
            <span>
                @list.MessageText
            </span>
        </a>
    }

    <form id="addToGuestbook">
        <div>
            <button class="btn btn-primary">Add</button>
        </div>
    </form>

    @*@section scripts {
        <script>
            $('#addToGuestbook').submit(function (ex)) {
                ex.preventDefault();
                    $.get(
                        function () {
                            window.location.reload();
                    );
                }
            });
        </script>
    }*@

