@model IEnumerable<Projekt_Dejtingsida.Models.FriendModel>

@{
    ViewBag.Title = "Friendlist";
}

<h2>Name:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person2)
            </td>
        </tr>
    }

</table>

