@{
    ViewBag.Title = "Contacts";
}
<h2>Contact settings </h2>
<ul class="nav">
    <li class="nav-item">
        @Html.ActionLink("» Friendlist", "FriendList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Outgoing", "OutgoingList", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Incomming", "IncommingList", "Friend", null)
    </li>
</ul>