
@{
    ViewBag.Title = "Contacts";
}

<h2>Contact settings </h2>
<ul class="nav">
    <li class="nav-item">
        @Html.ActionLink("» Outgoing", "OutgoingRequest", "Friend", null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("» Incomming", "IncommingRequest", "Friend", null)
    </li>
</ul>
